Repository khangtictoc/Terragrunt-Project_Structure_Design: changes, and which Atlantis projects are due for each by the changed paths.
All: prod, uat, staging, dev

prod:
  branch: /master/
  dir: .
  workflow: prod

uat:
  branch: /master/
  dir: .
  workflow: uat

staging:
  branch: /master/
  dir: .
  workflow: staging

dev:
  branch: /master/
  dir: .
  workflow: dev

Refactor & standardize for enhancing & scaling Terragrunt folder structure following best practice
  .gitignore
  atlantis.yaml
  environment/dev/aws/ap-southeast-1/region.hcl
  environment/dev/aws/ap-southeast-1/vpc/.terraform.lock.hcl
  environment/dev/aws/ap-southeast-1/vpc/terragrunt.hcl
  environment/dev/aws/us-east-1/eks/terragrunt.hcl
  environment/dev/aws/us-east-1/firewall/terragrunt.hcl
  environment/dev/aws/us-east-1/region.hcl
  environment/dev/aws/us-east-1/s3/terragrunt.hcl
  environment/dev/aws/us-east-1/secret-manager/terragrunt.hcl
  environment/dev/aws/us-east-1/vpc/.terraform.lock.hcl
  environment/dev/aws/us-east-1/vpc/terragrunt.hcl
  environment/dev/env.hcl
  environment/dev/us-east-1/vpc/.terraform.lock.hcl
  hook_script/create-backend-resources.sh
  modules/aws/eks/locals.tf
  modules/aws/eks/main.tf
  modules/aws/eks/output.tf
  modules/aws/eks/variables.tf
  modules/aws/firewall/locals.tf
  modules/aws/firewall/main.tf
  modules/aws/firewall/output.tf
  modules/aws/firewall/variables.tf
  modules/aws/s3/locals.tf
  modules/aws/s3/main.tf
  modules/aws/s3/output.tf
  modules/aws/s3/variables.tf
  modules/aws/secret-manager/locals.tf
  modules/aws/secret-manager/main.tf
  modules/aws/secret-manager/output.tf
  modules/aws/secret-manager/variables.tf
  modules/aws/vpc/locals.tf
  modules/aws/vpc/main.tf
  modules/aws/vpc/output.tf
  modules/aws/vpc/variables.tf
  modules/vpc/main.tf
  root.hcl
Due: prod, uat, staging, dev

Add sample files for clarifer folder structure
  atlantis.yaml
  environment/dev/azure/East US/region.hcl
  environment/dev/azure/Korea South/region.hcl
  environment/prod/env.hcl
  environment/stg/env.hcl
  environment/uat/env.hcl
Due: prod, uat, dev

Test - use community vpc modules
  README.md
  environment/dev/aws/us-east-1/vpc/terragrunt.hcl
  environment/dev/env.hcl
  hook_script/create-backend-resources.sh
  modules/aws/vpc/main.tf
  root.hcl
Due: prod, uat, staging, dev

update - add tags corresponding to each env
  environment/dev/aws/us-east-1/vpc/terragrunt.hcl
Due: dev

update - add tags corresponding to each env
  environment/dev/env.hcl
  environment/prod/env.hcl
  environment/stg/env.hcl
  environment/uat/env.hcl
  hook_script/create-backend-resources.sh
  root.hcl
Due: prod, uat, dev

create eks using community modules
  environment/dev/aws/us-east-1/eks/.terraform.lock.hcl
  environment/dev/aws/us-east-1/eks/terragrunt.hcl
  environment/dev/aws/us-east-1/vpc/terragrunt.hcl
  root.hcl
Due: dev

new: Add security group to automatically grant web access
  .gitignore
  environment/dev/aws/us-east-1/eks/terragrunt.hcl
  environment/dev/aws/us-east-1/security-group/.terraform.lock.hcl
  environment/dev/aws/us-east-1/security-group/terragrunt.hcl
Due: dev

modify: Create single NAT gateway for VPC mod
  environment/dev/aws/us-east-1/vpc/terragrunt.hcl
Due: dev

feat: Apply format files
  environment/dev/aws/ap-southeast-1/region.hcl
  environment/dev/aws/ap-southeast-1/vpc/terragrunt.hcl
  environment/dev/aws/us-east-1/eks/terragrunt.hcl
  environment/dev/aws/us-east-1/region.hcl
  environment/dev/aws/us-east-1/security-group/terragrunt.hcl
  environment/dev/aws/us-east-1/vpc/terragrunt.hcl
  environment/dev/azure/East US/region.hcl
  environment/dev/azure/Korea South/region.hcl
  environment/dev/env.hcl
  environment/prod/env.hcl
  environment/stg/env.hcl
  environment/uat/env.hcl
  root.hcl
Due: prod, uat, dev

feat: Apply format files
  hook_script/format-codebase.sh
Due: none

feat: Add aks module & deployment
  .gitignore
  environment/dev/aws/us-east-1/eks/terragrunt.hcl
  environment/dev/aws/us-east-1/security-group/terragrunt.hcl
  environment/dev/aws/us-east-1/vpc/terragrunt.hcl
  environment/dev/azure/Korea South/aks/.terraform.lock.hcl
  environment/dev/azure/Korea South/aks/terragrunt.hcl
  environment/dev/azure/Korea South/vnet/.terraform.lock.hcl
  environment/dev/azure/Korea South/vnet/terragrunt.hcl
  hook_script/azure-auth-init.sh
  hook_script/clean-cache.sh
  modules/azure/vnet/main.tf
  modules/azure/vnet/output.tf
  modules/azure/vnet/variables.tf
  root.hcl
Due: prod, uat, staging, dev

feat - add script: push all output to s3 bucket
  hook_script/clean-cache.sh
  hook_script/post-processing.sh
  root.hcl
Due: none

feat - add script: push all output to s3 bucket
  root.hcl
Due: none

feat - add script: push all output to s3 bucket 2
  hook_script/post-processing.sh
Due: none

feat - add script: push all output to s3 bucket 3
  hook_script/post-processing.sh
Due: none

feat - add script: push all output to s3 bucket 4
  root.hcl
Due: none

feat - fix script (1): push all output to s3 bucket
  root.hcl
Due: none

Add kubernetes_version for aks Korean South
  environment/dev/azure/Korea South/aks/terragrunt.hcl
Due: dev

cost optimize: Down vm size for test cluster
  environment/dev/azure/Korea South/aks/terragrunt.hcl
Due: dev

update: add temporary_name_for_rotation for aks
  environment/dev/azure/Korea South/aks/terragrunt.hcl
Due: dev

update: remove declaration for sub_id and tenant_id azure
  root.hcl
Due: none

update: remove declaration for sub_id and tenant_id azure
  environment/dev/azure/Japan East/aks/.terraform.lock.hcl
  environment/dev/azure/Japan East/aks/terragrunt.hcl
  environment/dev/azure/Japan East/region.hcl
  environment/dev/azure/Japan East/vnet/.terraform.lock.hcl
  environment/dev/azure/Japan East/vnet/terragrunt.hcl
  environment/dev/azure/Korea South/region.hcl
Due: dev

update: change instance type for lab azure
  environment/dev/azure/Japan East/aks/terragrunt.hcl
Due: dev

update: dynamic naming for output folder
  environment/dev/aws/platform.hcl
  environment/dev/azure/Japan East/aks/terragrunt.hcl
  environment/dev/azure/platform.hcl
  root.hcl
Due: dev

feat: apply naming module for naming convention for all resources in azure
  environment/dev/azure/Japan East/aks/terragrunt.hcl
  environment/dev/azure/Japan East/naming/terragrunt.hcl
Due: dev

fix: dependency for aks
  environment/dev/azure/Japan East/aks/terragrunt.hcl
Due: dev

fix: dependency for aks
  environment/dev/azure/Japan East/aks/terragrunt.hcl
  environment/dev/azure/Japan East/naming/terragrunt.hcl
Due: dev

fix: add optional fields for naming conventions
  environment/dev/azure/Japan East/naming/terragrunt.hcl
Due: dev

fix: add optional fields for naming conventions
  environment/dev/azure/Japan East/aks/terragrunt.hcl
Due: dev

update: enhance post-processing script
  hook_script/post-processing.sh
  root.hcl
Due: none

update: enhance post-processing script
  hook_script/post-processing.sh
Due: none

update: sub_id and tenant_id for azure provider
  environment/dev/azure/Japan East/naming/.terraform.lock.hcl
Due: dev

update: switch to 'skip' for provider.tf, terraform.tf
  .gitignore
  environment/dev/azure/Japan East/vnet/.terraform.lock.hcl
  root.hcl
Due: dev

update: switch to 'skip' for provider.tf, terraform.tf
  root.hcl
Due: none

Path conditions:
  prod: any of: environment/prod/**/*.hcl, modules/**/*.tf
  uat: any of: environment/uat/**/*.hcl, modules/**/*.tf
  staging: any of: environment/staging/**/*.hcl, modules/**/*.tf
  dev: any of: environment/dev/**/*.hcl, modules/**/*.tf
